.home{
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.home_container{
    position: relative;
}
.home_row{
    display: flex;
}
.home_image{
    width: 100%;
    z-index: -1;
    object-fit: contain;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0));
}

 .left-arrow{
    position:absolute;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 20px 5px 20px 10px;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 32px;
    cursor: pointer;
}
.right-arrow{
    position:absolute;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 20px 10px 20px 5px;
    top: 50%;
    transform: translate(50%,-50%);
    right: 32px;
    cursor: pointer;
} 